<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!-- アプリケーション設定 -->
    <appSettings>
        <!-- ホームディレクトリのパス -->
        <add key="homeDirectory" value="D:\workspace\" />
        <!-- CSVファイルのパス -->
        <add key="csvPath" value="D:\workspace\aaa.csv" />
        <!-- ツールのパス -->
        <add key="myToolPath" value="D:\workspace\sss" />
        <!-- マイゴミ箱のパス -->
        <add key="dustBoxPath" value="DustBox" />
        <!-- 安全に開く時のコピー先のパス -->
        <add key="safeBoxPath" value="SafeBox" />
        <!-- 使用するフォント -->
        <add key="myFont" value="瀬戸フォント" />
        <!-- ファイルを開くための実行ファイル -->
        <add key="fileOpenExe" value="code" />
        <!-- ボタンのサイズ -->
        <add key="btnSizeWidth" value="80" />
        <add key="btnSizeHeight" value="25" />
        <!-- ラベルのフォントサイズ -->
        <add key="labelSizeFont" value="12" />
        <!-- ボタンのフォントサイズ -->
        <add key="btnSizeFont" value="8" />
        <!-- タブのフォントサイズ -->
        <add key="tabSizeFont" value="13" />
        <!-- テキストのフォントサイズ -->
        <add key="textSizeFont" value="13" />
        <!-- リストのフォントサイズ -->
        <add key="listSizeFont" value="10" />
        <!-- ボタンの背景色 -->
        <add key="btnBackColor" value="#2D2D2D" />
        <!-- ボタンのテキスト色 -->
        <add key="btnTextColor" value="#FFFFFF" />
        <!-- タブの背景色 -->
        <add key="tabBackColor" value="#2D2D2D" />
        <!-- タブのテキスト色 -->
        <add key="tabTextColor" value="#FFFFFF" />
        <!-- ラベルの背景色 -->
        <add key="labelBackColor" value="#00000000" />
        <!-- ラベルのテキスト色 -->
        <add key="labelTextColor" value="#FFFFFF" />
        <!-- コンボボックスの背景色 -->
        <add key="comboBoxBackColor" value="#2D2D2D" />
        <!-- コンボボックスのテキスト色 -->
        <add key="comboBoxTextColor" value="#FFFFFF" />
        <!-- コンテキストメニューの背景色 -->
        <add key="contxtBackColor" value="#2D2D2D" />
        <!-- コンテキストメニューのテキスト色 -->
        <add key="contxtTextColor" value="#FFFFFF" />
        <!-- メニューの背景色 -->
        <add key="menuBackColor" value="#2D2D2D" />
        <!-- メニューのテキスト色 -->
        <add key="menuTextColor" value="#FFFFFF" />
        <!-- ドロップダウンの背景色 -->
        <add key="dropDownBackColor" value="#2D2D2D" />
        <!-- ドロップダウンのテキスト色 -->
        <add key="dropDownTextColor" value="#FFFFFF" />
        <!-- リストボックスの背景色 -->
        <add key="listBoxBackColor" value="#1E1E1E" />
        <!-- リストボックスのテキスト色 -->
        <add key="listBoxTextColor" value="#FFFFFF" />
        <!-- テキストボックスの背景色 -->
        <add key="txtBackColor" value="#1E1E1E" />
        <!-- テキストボックスのテキスト色 -->
        <add key="txtTextColor" value="#FFFFFF" />
        <!-- フォームの背景色 -->
        <add key="formBackColor" value="#141414" />
        <!-- フォームのテキスト色 -->
        <add key="formTextColor" value="#FFFFFF" />
        <!-- パスと色のマッピング -->
        <add key="C:\" value="#FF0000" /> <!-- 赤 -->
        <add key="D:\" value="#0000FF" /> <!-- 青 -->
        <add key="/path3" value="#008000" /> <!-- 緑 -->
        <add key="/path4" value="#A52A2A" /> <!-- 茶色 -->
        <add key="/path5" value="#800080" /> <!-- 紫 -->
        <add key="/path6" value="#FFC0CB" /> <!-- ピンク -->
        <add key="/path7" value="#40E0D0" /> <!-- ターコイズ -->
        <add key="/path8" value="#FFA500" /> <!-- オレンジ -->
        <add key="/path9" value="#1E1E1E" /> <!-- さらに暗いグレー -->
        <add key="/path10" value="#4B0082" /> <!-- インディゴ -->
        <add key="/path11" value="#2F4F4F" /> <!-- ダークスレートグレー -->
        <add key="/path12" value="#556B2F" /> <!-- ダークオリーブグリーン -->
        <add key="/path13" value="#8B0000" /> <!-- ダークレッド -->
        <add key="/path14" value="#483D8B" /> <!-- ダークスレートブルー -->
        <add key="/path15" value="#191970" /> <!-- ミッドナイトブルー -->
        <!-- 他のパスと色のマッピングを追加 -->
    </appSettings>
</configuration>
