<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- アプリケーション設定 -->
  <appSettings>
    <!-- ホームディレクトリのパス -->
    <add key="homeDirectory" value="D:\workspace" />
    
    <!-- ショートカットファイルのパス -->
    <add key="csvPath" value="D:\workspace\aaa.csv" />
    
    <!-- ツールのパス -->
    <add key="myToolPath" value="D:\workspace\sss" />
    
    <!-- フォントの名前 -->
    <add key="myFont" value="瀬戸フォント" />
    
    <!-- ファイルを開くための実行ファイル -->
    <add key="fileOpenExe" value="code" />
    
    <!-- ボタンの幅 -->
    <add key="btnSizeWidth" value="80" />
    
    <!-- ボタンの高さ -->
    <add key="btnSizeHeight" value="25" />
    
    <!-- ラベルのフォントサイズ -->
    <add key="labelSizeFont" value="11" />
    
    <!-- ボタンのフォントサイズ -->
    <add key="btnSizeFont" value="9" />
    
    <!-- タブのフォントサイズ -->
    <add key="tabSizeFont" value="11" />
    
    <!-- テキストのフォントサイズ -->
    <add key="textSizeFont" value="11" />
  </appSettings>
</configuration>
